<div class="card text-center m-3">
    <h3 class="card-header">User List</h3>
    <div class="card-body">
        <div >
            <table class="table table-striped">
                <tr *ngFor="let item of userData | paginate:{itemsPerPage:perPage, currentPage:pageNo, totalItems:totalItems}">
                    
                    <td>{{item.id}}</td>
                    <td><img class="avatar" src={{item.avatar}} class="card-img-top" alt="..."> </td>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.email}}</td>
                   
                    <td><a [routerLink]='' (click)="gotoUser($event,item)">View</a></td>
               
                </tr>

            </table>
           

        </div>
    </div>
    <div class="card-footer pb-0 pt-3">
        <pagination-controls (pageChange)= " getNextPage(pageNo = $event)" ></pagination-controls>
        <!-- <jw-pagination [items]="userData" (changePage)="onChangePage($event)"></jw-pagination> -->
    </div>
</div>
